<h3>Published and Presented Work</h3>

<p><strong><a target="_blank" href="">Learning-Based Hashing for ANN Search: Foundations and Early Advances</a></strong><br />
Sean Moran.
In <em>Arxiv, 2025</em></p>

<p><strong><a target="_blank" href="https://www.computer.org/csdl/proceedings-article/finanse/2025/143200a015/27ZLN4W7yV2">ADKit: A Framework for Anomaly Detection from Natural Language</a></strong><br />
Kostis Gourgoulias, Senad Ibraimoski, Gaston Liberman, Alex Cazan, Mohammed Ayub, Andre Frade, Leandro Rios, Sean Moran.
In <em>FinanSE, 2025</em></p>

<p><strong><a target="_blank" href="https://www.computer.org/csdl/proceedings-article/finanse/2025/143200a017/27ZLMOe3G9y">Using AI/ML to Find and Remediate Enterprise Secrets in Code & Document Sharing Platforms</a></strong><br />
Gregor Kerr, David Algorry, Senad Ibraimoski, Peter Maciver, Kostis Gourgoulias, Sean Moran.
In <em>FinanSE, 2025.</em></p>

<p><strong><a target="_blank" href="https://www.computer.org/csdl/proceedings-article/finanse/2025/143200a001/27ZLMZbSYG4">LLMs as Interfaces for Cloud Migration</a></strong><br />
Gregor Kerr, Amal Vaidya, Mohan Vankayalapati, Jacky Chan, Senad Ibraimoski, Bismayan Chakrabarti, Sean Moran.
In <em>FinanSE, 2025</em></p>

<p><strong><a target="_blank" href="https://www.computer.org/csdl/proceedings-article/finanse/2025/143200a007/27ZLMyHvU4M">Efficient and Explainable Anomaly Detection in Financial System Logs using Statistical Modeling</a></strong><br />
Mohammed Ayub, Mauro Annarumma, Kostis Gourgoulias, Gaston Liberman, David Algorry, Najah Ghalyan, Sean Moran.
In <em>FinanSE, 2025</em></p>

<p><strong><a target="_blank" href="https://rdcu.be/dZ9Wv">A Probabilistic Model for API contract Specification Retrieval focusing on the OpenAPI Standard</a></strong><br />
Sae Young Moon, Gregor Kerr, Fran Silavong, Sean Moran.
In <em>Data Mining and Knowledge Discovery Journal, 2024</em> <br />
[ <a target="_blank" href="https://github.com/jpmorganchase/api-miner">Code</a> ]</p>

<p><strong><a target="_blank" href="http://arxiv.org/abs/2502.07399">On iterative evaluation and enhancement of code quality using GPT4o</a></strong><br />
Rundong Liu, Andre Frade, Amal Vaidya, Maxime Labonne, Marcus Kaiser, Bismayan Chakrabarti, Sean Moran.
In <em>Arxiv, 2024.</em><br />
[ <a target="_blank" href="https://github.com/jpmorganchase/codequest">Code</a> ]</p>

<p><strong><a target="_blank" href="https://arxiv.org/abs/2305.15016">An Unsupervised Method for Estimating Class Separability of Datasets with Application to LLMs Fine-Tuning</a></strong><br />
Najah Ghalyan, Kostis Gourgoulias, Yash Satsangi, Sean Moran, Maxime Labonne, Joseph Sabelja.
In <em>TMLR, 2024.</em></p>

<p><strong><a target="_blank" href="https://trebuchet.public.springernature.app/get_content/33b12701-d786-4064-88c3-8e11ab6786d5">Model-Agnostic Utility-Preserving Biometric Information Anonymization</a></strong><br />
Bill Moriarty, Chun-Fu Chen, Shaohan Hu, Sean Moran, Marco Pistoia, Vincenzo Piuri, Pierangela Samarati.
In <em>International Journal of Information Security, 2024.</em></p>

<p><strong><a target="_blank" href="https://arxiv.org/abs/2311.10448">DeepClean: Machine Unlearning on the Cheap by Resetting Privacy Sensitive Weights using the Fisher Diagonal</a></strong><br />
Jialei Shi, Najah Ghalyan, Kostis Gourgoulias, John Buford, Sean Moran.
In <em>ECCV Workshop on Unlearning, 2024</em><br />
[ <a href="./pdfs/uandme24_deepclean_machine_unlearning_eccv_workshop_2024.pdf">Slides</a> ]</p>

<p><strong><a target="_blank" href="https://arxiv.org/abs/2304.01238">Spam-T5: Benchmarking Large Language Models for Few-Shot Email Spam Detection</a></strong><br />
Maxime Labonne, Sean Moran.
In <em>FinLLM 2023 @ IJCAI</em><br />
[ <a href="https://github.com/jpmorganchase/llm-email-spam-detection">Code</a> ]</p>

<!-- PART 2: Publications from 2023–2022 -->

<p><strong><a target="_blank" href="https://arxiv.org/abs/2303.17841">A Benchmark Generative Probabilistic Model for Weak Supervised Learning</a></strong><br />
Georgios Papadopoulos, Fran Silavong, Sean Moran. 
In <em>ECML PKDD, 2023.</em></p>

<p><strong><a target="_blank" href="https://rdcu.be/evUrm">Learning a Consensus Sub-Network with Polarization Regularization and One Pass Training</a></strong><br />
Xiaoying Zhi, Varun Babbar, Pheobe Sun, Fran Silavong, Ruibo Shi, Sean Moran. 
In <em>Data Mining and Knowledge Discovery Journal, 2025</em></p>

<p><strong><a target="_blank" href="http://doi.acm.org?doi=3643665.3648049">API-Miner: an API-to-API Specification Recommendation Engine</a></strong><br />
Sae Young Moon, Gregor Kerr, Fran Silavong, Sean Moran. 
In <em>The 1st Workshop on Software Engineering Challenges in Financial Firms (FinanSE), 2024</em><br />
[ <a target="_blank" href="https://github.com/jpmorganchase/api-miner">Code</a> ]</p>

<p><strong><a target="_blank" href="https://neurips2022-enlsp.github.io/papers/paper_16.pdf">Towards Data Efficient and Robust Speech Representation Model Distillation</a></strong><br />
Pheobe Sun, Ruibo Shi, Ahmad Emami, Sean Moran. 
In <em>NeurIPS ENLSP Workshop, 2022.</em><br />
[ <a target="_blank" href="https://nips.cc/virtual/2022/59434">Slides</a> ]</p>

<p><strong><a target="_blank" href="http://arxiv.org/abs/2210.05406">Code Librarian: A Software Package Recommendation Engine</a></strong><br />
Lili Tao, Alexandru-Petre Cazan, Senad Ibraimoski and Sean Moran. 
In <em>ICSE SEIP, 2023.</em></p>

<p><strong><a target="_blank" href="http://doi.acm.org?doi=3643665.3648047">Topical: Learning Repository Embeddings from Source Code using Attention</a></strong><br />
Agathe Lherondelle, Varun Babbar, Yash Satsangi, Fran Silavong, Shaltiel Eloul, Sean Moran. 
In <em>The 1st Workshop on Software Engineering Challenges in Financial Firms (FinanSE), 2024.</em></p>

<p><strong><a target="_blank" href="https://dl.acm.org/doi/10.1145/3511808.3557212">Ledgit: A Service to Diagnose Illicit Addresses on Blockchain using Multi-Modal Unsupervised Learning</a></strong><br />
Xiaoying Zhi, Yash Satsangi, Sean Moran, Shaltiel Eloul. 
In <em>CIKM, 2022.</em><br />
[ <a href="./pdfs/Ledgit_poster.pdf">poster</a> ]</p>

<p><strong><a target="_blank" href="https://link.springer.com/chapter/10.1007/978-3-031-17146-8_2">Utility Preserving Biometric Information Anonymization</a></strong><br />
Bill Moriarty, Chun-Fu Chen, Shaohan Hu, Sean Moran, Marco Pistoia, Vincenzo Piuri, Pierangela Samarati. 
In <em>ESORICS, 2022.</em></p>

<p><strong><a target="_blank" href="https://arxiv.org/pdf/2205.08585.pdf">CV4Code: Sourcecode Understanding via Visual Code Representations</a></strong><br />
Ruibo Shi, Lili Tao, Rohan Saphal, Fran Silavong, and Sean Moran. 
In <em>ACCV, 2022.</em><br />
[ <a href="./pdfs/CV4Code_ACCV_poster.pdf">poster</a> ] [ <a href="https://github.com/jpmorganchase/cv4code">code</a> ] </p>

<p><strong><a target="_blank" href="https://arxiv.org/pdf/2204.12495.pdf">Enhancing Privacy against Inversion Attacks in Federated Learning by using Mixing Gradients Strategies</a></strong><br />
Shaltiel Eloul, Fran Silavong, Sanket Kamthe, Antonios Georgiadis, Sean Moran. 
In <em>WACV, 2024.</em><br />
[ <a href="https://www.youtube.com/watch?v=DcPL-XoCc8M">talk</a> ] [ <a href="./pdfs/wacv24-2173.pdf">poster</a> ]</p>

<!-- PART 3: Publications from 2021 and earlier -->

<p><strong><a target="_blank" href="https://arxiv.org/abs/2111.04473">Senatus: A Fast and Accurate Code-To-Code Recommendation Engine</a></strong><br />
Fran Silavong, Sean Moran, Antonios Georgiadis, Rohan Saphal, Robert Otter. 
In <em>Mining Software Repositories (MSR), 2022.</em><br />
[ <a target="_blank" href="./bib/senatus.bib">bibtex</a> ]</p>

<p><strong><a target="_blank" href="https://arxiv.org/abs/2203.13680">ST-FL: style transfer preprocessing in federated learning for COVID-19 segmentation</a></strong><br />
Antonios Georgiadis, Varun Babbar, Fran Silavong, Sean Moran, Robert Otter. 
In <em>SPIE Medical Imaging, 2022.</em><br />
[ <a href="./pdfs/Style_Transfer_Preprocessing_in_Federated_Learning___Poster.pdf">poster</a> ]</p>

<p><strong><a target="_blank" href="https://dl.acm.org/doi/10.1145/3485832.3485913">Improving Streaming Cryptocurrency Transaction Classification via Biased Sampling and Graph Feedback</a></strong><br />
Shaltiel Eloul, Sean Moran, Jacob Mendel. 
In <em>ACSAC, 2021.</em></p>

<p><strong><a target="_blank" href="https://arxiv.org/pdf/2007.09187.pdf">Low light video Enhancement using Synthetic Data Produced with an Intermediate Domain Mapping</a></strong><br />
Danai Triantafyllidou, Sean Moran, Steven McDonagh, Sarah Parisot, Gregory Slabaugh. 
In <em>ECCV, 2020.</em><br />
[ <a href="./bib/sidgan.bib">bibtex</a> ] [ <a href="https://github.com/sjmoran/SIDGAN">code</a> ] 
[ <a href="https://www.dropbox.com/s/mcels652m0ivunm/low_light_video_enhancement_using_synthetic_data_produced_with_an_intermediate_domain_mapping-Supplementary%20Material.zip?dl=0">supplementary</a> ]
[ <a href="https://youtu.be/-MwiYBXdtD4">10 min video</a> ]
[ <a href="./img/1809-1min.wmv">1 min video</a> ]</p>

<p><strong><a target="_blank" href="https://arxiv.org/pdf/2003.13985.pdf">DeepLPF: Deep Local Parametric Filters For Image Enhancement</a></strong><br />
Sean Moran, Pierre Marza, Steven McDonagh, Sarah Parisot, Gregory Slabaugh. 
In <em>CVPR, 2020.</em><br />
[ <a href="./bib/deeplpf.bib">bibtex</a> ] [ <a href="https://github.com/sjmoran/deep_local_parametric_filters">code</a> ]
[ <a href="./pdfs/DeepLPF_supplementary.pdf">supplementary</a> ]
[ <a href="./pdfs/DeepLPF_CVPR20_poster.pdf">poster</a> ]
[ <a href="./pdfs/DeepLPFDataBites.pdf">slides</a> ]
[ <a href="https://www.youtube.com/watch?v=Sxach3FM6FY">1 min video</a> ]</p>

<p><strong><a target="_blank" href="https://arxiv.org/abs/1911.13175">CURL: Neural Curve Layers for Global Image Enhancement</a></strong><br />
Sean Moran, Steven McDonagh, Gregory Slabaugh. 
In <em>ICPR, 2020.</em><br />
[ <a href="./bib/curl.bib">bibtex</a> ] [ <a href="./pdfs/ICPR2020_CURL.pdf">talk (ICPR)</a> ]
[ <a href="./pdfs/IADSNov2020_CURL.pdf">talk (IADS)</a> ]
[ <a href="./pdfs/CURL_ICPR_POSTER.pdf">poster</a> ]
[ <a href="https://github.com/sjmoran/neural_curve_layers">code</a> ]
[ <a href="https://youtu.be/66FnRfDR_Oo">video</a> ]
[ <a href="./pdfs/CURL_supplementary.pdf">supplementary</a> ]</p>

<p><strong><a target="_blank" href="https://arxiv.org/abs/1909.05249">NODE: Extreme Low Light Raw Image Denoising using a Noise Decomposition Network</a></strong><br />
Hao Guan, Liu Liu, Sean Moran, Fenglong Song, Gregory Slabaugh. 
In <em>Arxiv, 2019.</em><br />
[ <a href="./bib/node.bib">bibtex</a> ]</p>

<p><strong><a target="_blank" href="./pdfs/synpromics_poster.pdf">A Novel Genomics-Based Platform for the Creation of Environmental-Responsive Gene Promoters</a></strong><br />
Juan Manuel Iglesias, Ross M. Fraser, Sean Moran, Patricia del Rio, Katie Baker, Sinclair Cooper, Graham Whyteside, Nicolle Kippen, Polyxeni Katsoupi, Rinku Rajan, Jorge Yanez, Michael L. Roberts. 
In <em>Molecular Therapy 2018.</em><br />
[ <a href="https://www.sciencedirect.com/science/article/pii/S1525001618302041/pdfft">Abstract</a> ]</p>

<p><strong><a target="_blank" href="./pdfs/hashing_review.pdf">Learning to Hash for Computer Vision and Image Retrieval</a></strong><br />
Sean Moran. In <em>Arxiv, 2019.</em></p>

<p><strong><a target="_blank" href="./pdfs/sigir16_joint_hashing.pdf">Learning to Project and Binarise for Hashing Based Approximate Nearest Neighbour Search</a></strong><br />
Sean Moran. In <em>SIGIR, 2016.</em><br />
[ <a href="./bib/joint.bib">bibtex</a> ] [ <a href="./pdfs/jgrh_poster.pdf">poster</a> ]</p>

<p><strong><a target="_blank" href="./pdfs/sigir16_embeddings.pdf">Enhancing First Story Detection using Word Embeddings</a></strong><br />
Sean Moran, Richard McCreadie, Craig MacDonald, Iadh Ounis. 
In <em>SIGIR, 2016.</em><br />
[ <a href="./bib/embed.bib">bibtex</a> ]</p>

<p><strong><a target="_blank" href="./pdfs/Moran16_hr.pdf">Learning to Hash for Large-Scale Image Retrieval</a></strong><br />
Sean Moran. (PhD thesis, 2015)<br />
[ <a href="./bib/thesis.bib">bibtex</a> ]</p>

<p><strong><a target="_blank" href="./pdfs/cmh_sigir15.pdf">Regularised Cross-Modal Hashing</a></strong><br />
Sean Moran, Victor Lavrenko. In <em>SIGIR, 2015.</em><br />
[ <a href="./bib/rcmh.bib">bibtex</a> ] [ <a href="./pdfs/rcmh_poster.pdf">poster</a> ]
[ <a href="https://github.com/sjmoran/grh">code</a> ]
[ <a href="https://www.dropbox.com/sh/pvso066sqd2z8ja/AABu7dxMx92lhlLLXLUpg_jMa?dl=0">datasets</a> ]</p>

<p><strong><a target="_blank" href="http://arxiv.org/abs/1504.02384">A Note on Automatic Kernel Carpentry for Atomistic Support of Continuum Stress</a></strong><br />
Manfred Ulz, Sean Moran. In <em>Arxiv, 2015.</em><br />
[ <a href="./bib/carpentry.bib">bibtex</a> ]</p>

<p><strong><a target="_blank" href="./pdfs/grh_ecir15.pdf">Graph Regularised Hashing</a></strong><br />
Sean Moran, Victor Lavrenko. In <em>ECIR, 2015.</em><br />
[ <a href="./bib/grh.bib">bibtex</a> ] [ <a href="./pdfs/ecir_talk.pdf">talk</a> ]
[ <a href="./pdfs/grh_poster.pdf">poster</a> ]
[ <a href="https://github.com/sjmoran/grh">code</a> ]
[ <a href="https://www.dropbox.com/sh/pvso066sqd2z8ja/AABu7dxMx92lhlLLXLUpg_jMa?dl=0">datasets</a> ]</p>

<p><strong><a target="_blank" href="./pdfs/sklcrm_journal.pdf">A Sparse Kernel Relevance Model for Automatic Image Annotation</a></strong><br />
Sean Moran, Victor Lavrenko. In <em>IJMIR, 2014.</em><br />
[ <a href="./bib/sklcrm2.bib">bibtex</a> ] [ <a href="https://github.com/sjmoran/SKLCRM">code</a> ]
[ <a href="https://www.dropbox.com/sh/289zxx8teqpjyb0/AADTMR_flAlxbojykU4-8Onta?dl=0">datasets</a> ]</p>

<p><strong><a target="_blank" href="./pdfs/acmicmr2014.pdf">Sparse Kernel Learning for Image Annotation</a></strong><br />
Sean Moran, Victor Lavrenko. In <em>ICMR 2014 (Best Student Paper).</em><br />
[ <a href="./bib/sklcrm.bib">bibtex</a> ] [ <a href="http://www.slideshare.net/sjmoran1/sparse-kernel-learning-for-image-annotation">talk</a> ]
[ <a href="https://github.com/sjmoran/SKLCRM">code</a> ]
[ <a href="https://www.dropbox.com/sh/289zxx8teqpjyb0/AADTMR_flAlxbojykU4-8Onta?dl=0">datasets</a> ]</p>

<p><strong><a target="_blank" href="./pdfs/acl14a.pdf">Real-Time Detection, Tracking and Monitoring of Discovered Events in Social Media</a></strong><br />
Sean Moran et al. In <em>ACL, 2014 (Demo)</em><br />
[ <a href="./bib/acl14.bib">bibtex</a> ]</p>

<p><strong><a target="_blank" href="http://iopscience.iop.org/0965-0393/21/8/085017/pdf/0965-0393_21_8_085017.pdf">Optimal Kernel Shape and Bandwidth for Atomistic Support of Continuum Stress</a></strong><br />
Manfred Ulz, Sean Moran. In <em>MSMSE, 2013.</em><br />
[ <a href="./bib/nwkr_msmse.bib">bibtex</a> ]</p>

<p><strong><a target="_blank" href="./pdfs/vbq_acl.pdf">Variable Bit Quantisation for LSH</a></strong><br />
Sean Moran, Victor Lavrenko, Miles Osborne. In <em>ACL, 2013.</em><br />
[ <a href="./bib/vbq.bib">bibtex</a> ] [ <a href="http://www.slideshare.net/sjmoran1/acl-variable-bit-quantisation-talk">talk</a> ]
[ <a href="https://github.com/sjmoran/npq">code</a> ]
[ <a href="https://www.dropbox.com/sh/pvso066sqd2z8ja/AABu7dxMx92lhlLLXLUpg_jMa?dl=0">datasets</a> ]</p>

<p><strong><a target="_blank" href="./pdfs/npq_sigir.pdf">Neighbourhood Preserving Quantisation for LSH</a></strong><br />
Sean Moran, Victor Lavrenko, Miles Osborne. In <em>SIGIR, 2013.</em><br />
[ <a href="./bib/npq.bib">bibtex</a> ] [ <a href="./pdfs/sigir_poster.pdf">poster</a> ]
[ <a href="https://github.com/sjmoran/npq">code</a> ]
[ <a href="https://www.dropbox.com/sh/pvso066sqd2z8ja/AABu7dxMx92lhlLLXLUpg_jMa?dl=0">datasets</a> ]</p>

<p><strong><a target="_blank" href="http://iopscience.iop.org/0965-0393/20/6/065009">A Gaussian mixture modelling approach to the data-driven estimation of atomistic support for continuum stress</a></strong><br />
Manfred Ulz, Sean Moran. In <em>MSMSE, 2012.</em><br />
[ <a href="./bib/gmm_msmse.bib">bibtex</a> ]</p>

<p><strong><a target="_blank" href="./pdfs/bscrm_bmvc_paper.pdf">Optimal Tag Sets for Automatic Image Annotation</a></strong><br />
Sean Moran, Victor Lavrenko. In <em>BMVC, 2011.</em><br />
[ <a href="./bib/tags_bmvc.bib">bibtex</a> ] [ <a href="./pdfs/bscrm_bmvc_abstract.pdf">abstract</a> ]
[ <a href="./pdfs/bscrm_bmvc_talk.pdf">talk</a> ]</p>

<p><strong><a target="_blank" href="./pdfs/wiki_poster.pdf">Linking Video Segments to Relevant Wikipedia Content</a></strong><br />
Victor Lavrenko, Johanna Moore, Sean Moran (2010).</p>

<p><strong><a target="_blank" href="./pdfs/IM090693.pdf">Automatic Image Tagging</a></strong><br />
Sean Moran (MSc Dissertation, 2009).</p>

<p><strong><a target="_blank" href="http://homepages.inf.ed.ac.uk/rbf/CVonline/LOCAL_COPIES/AV0809/moran.pdf">Video Inpainting (Overview)</a></strong><br />
Sean Moran (2009).</p>

<p><strong><a target="_blank" href="./pdfs/unosat_moran.pdf">Using the Grid for Satellite Imagery with UNOSAT</a></strong><br />
Sean Moran, Patricia Mendez Lorenzo. <em>Internal UNOSAT-CERN report, 2005</em></p>

<p><strong><a target="_blank" href="./pdfs/track_bmvc.pdf">Robust Fusion of Colour Appearance Models for Object Tracking</a></strong><br />
Chris Town, Sean Moran. In <em>BMVC, 2004.</em><br />
[ <a href="./bib/track_bmvc.bib">bibtex</a> ]</p>
