<h2>🧪 Patents</h2>
<p>Inventor on 8 granted patents in AI vision and image processing:</p>
<ul>
  <li><a href="https://patentimages.storage.googleapis.com/00/f5/06/cc3f0f942174df/WO2021093956A1.pdf">📌 A Device and Method for Image Processing (2021)</a></li>
  <li><a href="https://patentimages.storage.googleapis.com/a8/ae/e3/fce62873953b64/WO2020187424A1.pdf">📌 Image Processor (2020)</a></li>
  <li><a href="https://patentimages.storage.googleapis.com/81/3d/82/2909a1a05ec75c/WO2020187423A1.pdf">📌 Noise Estimation (2020)</a></li>
  <li><a href="https://patentimages.storage.googleapis.com/c8/4b/02/9fd507d55f8657/WO2020126023A1.pdf">📌 Modular Image Processing System (2020)</a></li>
</ul>
<hr>
