<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
<!-- Begin Inspectlet Asynchronous Code -->
<script type="text/javascript">
(function() {
window.__insp = window.__insp || [];
__insp.push(['wid', 605709004]);
var ldinsp = function(){
if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=605709004&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
setTimeout(ldinsp, 0);
})();
</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-17169879-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-17169879-4');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>Sean Moran | Personal Page</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="canonical" href="https://sjmoran.github.io" />
    <meta name="viewport" content="width=device-width">

    <meta property="og:title" content="Sean Moran | Personal Page" />
    <meta property="og:image" content="./images/sean.png" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="{{ site.long_description }}" />
    <meta name="og:description" content="{{ site.long_description }}" />
    <link rel="canonical" href="https://sjmoran.github.io/" />
    <meta property="og:url" content="https://sjmoran.github.io/" />
    <meta property="og:site_name" content="Sean Moran" />
    <script type="application/ld+json">
      {"name":"Sean Moran","description":"{{ site.long_description }}","author":"Sean Moran","@type":"WebSite","url":"https://sjmoran.github.io/","image":"./images/1632737481001.jpeg","publisher":null,"headline":"Sean Moran","dateModified":null,"datePublished":null,"sameAs":null,"mainEntityOfPage":null,"@context":"http://schema.org"}
    </script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
	  <!--googleoff: snippet-->
      <header>
        <img class="img-circle" src="./images/sean.png">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p class="addr">&#x2709;&nbsp;&#115;&#101;&#097;&#110;&#046;&#106;&#046;&#109;&#111;&#114;&#097;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</p>
        <p>
        London<br/>
        </p>
		<p class="link"><b><a target="_blank" href="https://scholar.google.com/citations?user=nbw0rIUAAAAJ&hl=en">Google Scholar</a></b></p>
        <p class="link">
          <b><a target="_blank" href="https://github.com/sjmoran">Git</a></b>
          <br/>
        </p>
         </header>
	  <!--googleon: snippet-->
      <section>
      {{ content }}
      </section>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
<!-- Begin Web-Stat code v 7.0 -->
<span id="wts2185290"></span>
<script>var wts=document.createElement('script');wts.async=true;
wts.src='https://app.ardalio.com/log7.js';document.head.appendChild(wts);
wts.onload = function(){ wtslog7(2185290,1); };
</script><noscript><a href="https://www.web-stat.com">
<img src="https://app.ardalio.com/7/1/2185290.png" 
alt="Web-Stat traffic analytics"></a></noscript>
<!-- End Web-Stat code v 7.0 -->
  </body>
</html>
